.header__logo {
  width: 142px;
  height: 33px;
  cursor: pointer;
}
.header__logo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 400px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
