.gallery__button-remove {
  min-width: 18px;
  height: 19.3px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  background-image: url(../../../images/Trash.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: 0.4s;
  position: absolute;
  right: 20px;
  top: 20px;
}

.gallery__button-remove:hover {
  opacity: 0.6;
  transition: 0.4s;
}
