.user__profile-button {
  width: 24px;
  height: 24px;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  align-self: center;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  background: none;
  background-image: url(../../../images/Edit_Button.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.user__profile-button:hover {
  opacity: 0.6;
  transition: 0.4s;
}

@media screen and (max-width: 720px) {
  .user__profile-button {
    width: 18px;
    height: 18px;
  }
}
