.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
  background-color: #000;
}

@media screen and (max-width: 400px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
