.popup__text_picture {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  color: #fff;
  margin: 0;
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  .popup__text_picture {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  }
}
